<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <header>
            <h2>Have a rad summer</h2>
        </header>
        <p>
          We want to live that feeling. The feeling of the last day of school <br />
          when you walk off campus and the people and responsibilities <br />
          you don’t care about naturally slough off and and all that’s left of them <br />
          for the time being is a really kick –ass yearbook signing. <br />
          “Have a rad summer!”  Ya bro, lets hang out.  KIT.
        </p>
    </div>

</section>
