<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Have a rad summer</h2>
        </header>
        <p>BFF, KIT, never change, <strong>havearadsummer</strong>.
        <br />
        We created this site to document our travels and experiences
        <br />
        as a family trying to find our way and purpose in this world.
        </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
