<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
       <p>BFF, KIT, never change,</p>
        <header>
            <h2>Have a rad summer</h2>
        </header>
        <p>School is almost out.  And like <br />
        a fearless band of warriors, we are <br />
        traveling to <strong>Europe</strong> to see if <br />
        we can still be a family…. But in Europe.

        </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>
