---
layout: default
---

    <article id="main">
  <header class="special container">
    <span class="icon fa-file-text-o"></span>
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <section class="style4 wrapper container">
    {{ content }}

    <div id="disqus_thread"></div>
      <script>

          var disqus_config = function () {
              this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
              this.page.identifier = "{{ page.title }}";
          };
          (function() {  // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.src = '//havearadsummer.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </section>

    <footer>
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="post-prev">&larr; Previous post</a> {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url }}" class="post-next">Next post &rarr;</a> {% endif %}
    </footer>
</article>
